<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<appSettings>

		<add key="DataSource" value="DESKTOP-HAP94QC" />

		<add key="InitialCatalog" value="MarketOtomasyon" />

		<add key="UserID" value="sa" />

		<add key="Password" value="1234" />

		<add key="FirmaID" value="014" />

		<add key="DonemID" value="01" />

		<add key="LogoUsername" value="LOGO" />

		<add key="LogoPassword" value="1" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />

	</appSettings>


	<startup> 
        
		
    </startup>
</configuration>